<!-- In src/templates/actor/parts/actor-combat.html -->
<div class="item-prop item-image">
  {{!-- Existing armor class and other content above --}}

  <!-- Inside the weapons section where the roll buttons are -->
  <div class="items-list">
    <li class="item-name">{{localize 'TYPES.Item.weapon'}}</li>

    {{#each weapons as |weapon id|}}
    <div class="item" data-item-id="{{weapon._id}}">
      <div class="item-name">
        <div class="item-image">
          <img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24"/>
        </div>
        <h4>{{weapon.name}}</h4>
      </div>

      <div class="item-prop">
        <a class="rollable" data-roll-type="weapon" data-attack="melee" title="{{localize 'TLGCC.Melee'}} {{localize 'TLGCC.Attack'}}">
          <img src="systems/castles-and-crusades/styles/melee.svg" width="24" height="24"/>
        </a>
        <a class="rollable" data-roll-type="weapon" data-attack="ranged" title="{{localize 'TLGCC.Ranged'}} {{localize 'TLGCC.Attack'}}">
          <img src="systems/castles-and-crusades/styles/ranged.svg" width="24" height="24"/>
        </a>
        <span class="flexshrink">/</span>
        <a class="rollable" data-roll-type="damage" title="Roll Damage: {{weapon.system.damage.value}}">
          <img src="systems/castles-and-crusades/styles/damage.svg" width="24" height="24"/>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>