<form autocomplete="off" class="{{cssClass}}">
  <div class="cc-item-paper">

    {{!-- Header: icon + name + type stamp --}}
    <div class="cc-item-header">
      <div class="cc-item-icon">
        <img class="profile-img" data-edit="img" src="{{item.img}}" title="{{item.name}}" />
      </div>
      <div class="cc-item-identity">
        <input class="cc-item-name"
               name="name"
               type="text"
               value="{{item.name}}"
               placeholder="{{localize 'TLGCC.Name'}}" />
        <span class="cc-type-stamp">{{localize "TYPES.Item.spell"}}</span>
      </div>
    </div>

    {{!-- Row 1: cast time, range, duration, level --}}
    <div class="cc-stamp-row">
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.SpellCastTime")
          name="system.cast.value"
          value=system.cast.value
          mono=true
          width=100}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.SpellRange")
          name="system.range.value"
          value=system.range.value
          mono=true
          width=90}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.SpellDuration")
          name="system.duration.value"
          value=system.duration.value
          mono=true
          width=130}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.SpellLevel")
          name="system.spell.spelllevel"
          value=system.spell.spelllevel
          dtype="Number"
          mono=true
          width=70}}
    </div>

    {{!-- Row 2: SV, SR, comp, damage, prepared --}}
    <div class="cc-stamp-row">
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.SaveValue")
          name="system.savevalue.value"
          value=system.savevalue.value
          mono=true
          width=80}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.SpellResistance")
          name="system.spellresist.value"
          value=system.spellresist.value
          mono=true
          width=80}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.SpellComponents")
          name="system.spellcomp.value"
          value=system.spellcomp.value
          mono=true
          width=100}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.SpellDamage")
          name="system.spelldmg.value"
          value=system.spelldmg.value
          mono=true
          width=120}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.SpellPrepared")
          name="system.prepared.value"
          value=system.prepared.value
          dtype="Number"
          mono=true
          width=80}}
    </div>

    {{!-- Row 3: components (flex), class (fixed) --}}
    <div class="cc-stamp-row">
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.SpellComponent")
          name="system.component.value"
          value=system.component.value}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize system.class.label)
          name="system.class.value"
          value=system.class.value
          width=180}}
    </div>

    {{!-- Spell summary (full width) --}}
    {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
        label=(localize "TLGCC.spellSummary")
        name="system.spell.summary"
        value=system.spell.summary}}

    {{!-- Spell description (ruled-paper editor) --}}
    <section class="cc-form-section">
      <div class="cc-form-section-header"
           title="{{localize 'TLGCC.SpellDescriptionAlert'}}">
        {{localize "TLGCC.SpellDescription"}}
      </div>
      <div class="cc-form-section-body">
        {{editor system.description target="system.description" rollData=rollData
          button=true owner=owner editable=editable}}
      </div>
    </section>

  </div>
</form>
