<form autocomplete="off" class="{{cssClass}}">
  <div class="cc-item-paper">

    {{!-- Header: icon + name + type stamp --}}
    <div class="cc-item-header">
      <div class="cc-item-icon">
        <img class="profile-img" data-edit="img" src="{{item.img}}" title="{{item.name}}" />
      </div>
      <div class="cc-item-identity">
        <input class="cc-item-name"
               name="name"
               type="text"
               value="{{item.name}}"
               placeholder="{{localize 'TLGCC.Name'}}" />
        <span class="cc-type-stamp">{{localize "TYPES.Item.weapon"}}</span>
      </div>
    </div>

    {{!-- Stats: price, weight, EV, damage --}}
    <div class="cc-stamp-row">
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.Price")
          name="system.price.value"
          value=system.price.value
          mono=true
          width=120}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.Weight")
          name="system.weight.value"
          value=system.weight.value
          mono=true
          width=120}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.ItemEV")
          name="system.itemev.value"
          value=system.itemev.value
          mono=true
          width=120}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.Damage")
          name="system.damage.value"
          value=system.damage.value
          mono=true
          width=130}}
    </div>

    {{!-- Combat: bonus AB, range --}}
    <div class="cc-stamp-row">
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.BonusAttackBonus")
          name="system.bonusAb.value"
          value=system.bonusAb.value
          dtype="Number"
          mono=true
          width=120}}
      {{> "systems/castles-and-crusades/templates/item/parts/stamp-input.html"
          label=(localize "TLGCC.Range")
          name="system.range.value"
          value=system.range.value
          mono=true
          width=150}}
    </div>

    {{!-- Description editor --}}
    <section class="cc-form-section">
      <div class="cc-form-section-header">{{localize "TLGCC.Notes"}}</div>
      <div class="cc-form-section-body">
        {{editor system.description target="system.description" rollData=rollData
          button=true owner=owner editable=editable}}
      </div>
    </section>

  </div>
</form>
