<form autocomplete="off" class="{{cssClass}}">
  <header class="sheet-header">
    <img
      class="profile-img"
      data-edit="img"
      src="{{item.img}}"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          placeholder="{{localize 'TLGCC.Name'}}"
          type="text"
          value="{{item.name}}"
        />
      </h1>
      <div class="grid grid-1col">
        <div class="resource">
          <label class="resource-label" for="system.formula.value"
          >{{localize system.formula.label}}</label
          >
          <input
            data-dtype="String"
            id="system.formula.value"
            name="system.formula.value"
            type="text"
            value="{{system.formula.value}}"
          />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="description">
      <div class="grid grid-2col">
        <div class="resource grid-span-2">
          <label class="resource-label" for="system.feature.value"
          >{{localize 'TLGCC.FeatureTitle'}}</label
          >
          <input
            data-dtype="String"
            id="system.feature.value"
            name="system.feature.value"
            type="text"
            value="{{system.feature.value}}"
          />
        </div>
      </div>
      {{editor system.description target="system.description" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
